body{

}

.mainTitle{
	text-align: center;

	font-size: 30px;

	margin-top: 50px;
}

#slideshow img{

	margin-top: 0px;
	width: 500px;
	height: 300px;
}

#slideshow img#before{
	display: none;

	opacity: 0.25;

	width: 50px;
	height: 50px;

	position: absolute;

	margin-top: -195px;
}

#slideshow img#before:hover{
	opacity: 0.5;
}

#slideshow img#next{
	display: none;

	opacity: 0.25;

	width: 50px;
	height: 50px;

	position: absolute;

	margin-left: 445px;
	margin-top: -195px;
}

#slideshow img#next:hover{
	opacity: 0.5;
}

#slideshow img#play{
	display: none;

	opacity: 0.25;

	width: 50px;
	height: 50px;

	position: absolute;

	margin-left: 225px;
	margin-top: -195px;
}

#slideshow img#play:hover{
	opacity: 0.5;
}

#slideshow .element{
	display: inline-block;
}

#slide{
	width: 3000px;
}

#slideshow{
	width: 500px;
	overflow: hidden;

	margin-left: calc(50% - 250px);
	margin-top: 100px;

	border: 5px solid black;
	border-radius: 10px;
}

